/* Universal selector */
* {
   background-color: rgb(194, 241, 255);
}
body {
  text-align: center;
}
a {
  font-family: verdana, serif;
}
p {
  font-family: verdana, serif;
}
#discord {
  border-width: 0;
  background: transparent;
}
#content{
  color:#1e90ff;
}
h1.title {
  font-family: verdana, serif;
  font-size: 25px;
  color:#00CE27;
}
h3.title{
  font-family: verdana, serif;
  color:#00CE27;
}
h4.title {
  font-family: verdana, serif;
  color: cornflowerblue;
}
/* Regular link */
a:link {
  color: red;
}
/* Visited link */
a:visited {
  color: green;
}
/* Mouse over link */
a:hover {
  color: indianred;
}
/* Selected link */
a:active {
  color: deepskyblue;
}
